
/*
 @author lwh
 @version 0.0.6
 @last-mod-time 20191028
 */

/***************************global style************************************/
/**清除浮动**/
.clear {
    content: "";
    display: block;
    height: 0px;
    clear: both;
    visibility: hidden;
    zoom: 1;
}
.hidden-m {
    display: none;
}
.table-m {
    border-collapse: collapse;
    table-layout: fixed !important;
}
/*文字垂直居中*/
.table-m>tbody>tr>td,.table-m>thead>tr>th{
    vertical-align: middle;
}
/**带边框的表格*/
.table-border-m {
    /*border: 1px solid #ccc;*/
    border-collapse: collapse;
    table-layout: fixed !important;
}
.table-border-m tr td {
    border: 1px solid #EBEBEB;
}
.table-border-m tr td:first-child {
    border-left: none !important;
}
.table-border-m tr td:last-child {
    border-right: none !important;
}
/*td超出自动显示省略号*/
.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -icab-text-overflow: ellipsis;
    -khtml-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
}

.btn.focus,.btn:focus,.btn:hover {
    text-decoration: none;
}

/**控制div中的img的css**/
.div-img {
    margin: 0px auto;
    text-align: center;
}
.div-img em {
    display: inline-block;
    width: 0;
    overflow: hidden;
    height: 100%;
    vertical-align: middle;
}
.div-img img {
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
    /* for IE6 _height: 100%; */
    _width: 100%;
}

/*文件上传框美化*/
.btn_addPic {
    display: inline-block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
}
.filePrew {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 40px;
    width:100%;
    min-height: 20px;
    height:100%;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

/*分页显示or隐藏*/
.cl-page-content{
    display:none;
}
.cl-page-content.active{
    display:block;
}
/*垂直文字*/
.vertical-txt{
    width: 20px;
    white-space: normal;
    word-wrap: break-word;
}
/*固定中间区域宽度为1200px*/
.block1200{
    padding-right:0;
    padding-left:0;
    margin:0 auto;
    width:1200px;
}
.block1620{
    padding-right:40px;
    padding-left:40px;
    margin:0 auto;
    width:100%;
}

/*****************************************************************************************/
/*******页面共用css*******/
html {
    width: 100%;
    height: 100%;
}
body {
    -ms-overflow-style:scrollbar;/*IE10右侧滚动条会遮挡部分内容*/
    font-family:微软雅黑, "Microsoft YaHei",宋体,SimSun,Arial, Helvetica, sans-serif;
    font-size:14px;
    margin:0;
    padding:0;
    min-width:1200px;
}

a{
    text-decoration: none;
    outline: none;
}
a:link,a:visited{
    text-decoration: none;
}
a:hover {
    cursor: pointer;
    text-decoration: none;
}
a img {
    border: none;
}
ol,ul,li,dl{
    list-style: none;
    margin: 0;
    padding: 0;
}

/*override bootstrap style*/
.container-fluid {
    padding-right:0;
    padding-left:0;
}
.container-fluid .row{
    margin-left:0;
    margin-right:0;
    padding-right:0;
    padding-left:0;
}
/*.btn:active.focus, .btn:active:focus,*/
.btn.active.focus, .btn.active:focus{
    outline:none;
}

